

            {/*  primary active */}
      <button className="rounded-2xl btn-primary">Label</button>

      <button className="rounded-2xl btn-primary flex gap">
        Label
        <img src="/assets/icons/active/Full Arrow Right.svg" alt="" />
      </button>

      <button className="rounded-2xl btn-primary flex gap">
        <img src="/assets/icons/active/Full Arrow Right.svg" alt="" />
        Label
      </button>
      <button className="rounded-2xl btn-primary flex gap">
        <img src="/assets/icons/active/Full Arrow Right.svg" alt="" />
      </button>

      {/* primary disabled */}
      <button className="rounded-2xl btn-primary-disabled flex gap">
        Label
        <img src="/assets/icons/inactive/Full Arrow Right.svg" alt="" />
      </button>
      <button className="rounded-2xl btn-primary-disabled flex gap">
        <img src="/assets/icons/inactive/Full Arrow Right.svg" alt="" />
        Label
      </button>
      <button className="rounded-2xl btn-primary-disabled flex gap">
        Label
      </button>
      <button className="rounded-2xl btn-primary-disabled flex gap">
        <img src="/assets/icons/inactive/Full Arrow Right.svg" alt="" />
      </button>

      {/* secondary active*/}
      <button className="rounded-2xl btn-secondary flex gap">
        Label
        <img src="/assets/icons/active/Full Arrow Right.svg" alt="" />
      </button>
      <button className="rounded-2xl btn-secondary flex gap">
        <img src="/assets/icons/active/Full Arrow Right.svg" alt="" />
        Label
      </button>
      <button className="rounded-2xl btn-secondary flex gap">
        <img src="/assets/icons/active/Full Arrow Right.svg" alt="" />
      </button>
      <button className="rounded-2xl btn-secondary flex gap">Label</button>
      {/* secondary disabled */}
      <button className="rounded-2xl btn-secondary btn-secondary-disabled flex gap">
        Label
        <img src="/assets/icons/inactive/Full Arrow Right white.svg" alt="" />
      </button>
      <button className="rounded-2xl btn-secondary btn-secondary-disabled flex gap">
        <img src="/assets/icons/inactive/Full Arrow Right white.svg" alt="" />
        Label
      </button>
      <button className="rounded-2xl btn-secondary btn-secondary-disabled flex gap">
        <img src="/assets/icons/inactive/Full Arrow Right white.svg" alt="" />
      </button>
      <button className="rounded-2xl btn-secondary btn-secondary-disabled flex gap">
        Label
      </button>