 <div className="flex flex-row gap-[2rem] message p-[2rem]">
      <img className="rounded-full w-[50px] h-[50px]" src="/assets/images/photo.svg" alt="" />
      <div>
        <div className="flex column msg-info">
          <div className="flex gap-[1rem] justify-between">
            <h4>sgsggs</h4>
            <h4 className="msg-time">2 mins Ago</h4>
          </div>
          <div className="flex gap-[1rem] justify-between">
          <p className="msg-text">sdafs dsjhfakj hds ds ajshg </p>
          <img src="/assets/icons/Vector.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div className="flex flex-row gap-[2rem] message message-graybg p-[2rem]">
      <img className="rounded-full w-[50px] h-[50px]" src="/assets/images/photo.svg" alt="" />
      <div>
        <div className="flex column msg-info">
          <div className="flex gap-[1rem] justify-between">
            <h4>sgsggs</h4>
            <h4 className="msg-time">2 mins Ago</h4>
          </div>
          <div className="flex gap-[1rem] justify-between">
          <p className="msg-text">sdafs dsjhfakj hds ds ajshg </p>
          <img src="/assets/icons/Vector.svg" alt="" />
          </div>
        </div>
      </div>
    </div>


    <!-- read -->
     <div className="flex flex-row gap-[2rem] message message-graybg p-[2rem]">
      <img className="rounded-full w-[50px] h-[50px]" src="/assets/images/photo.svg" alt="" />
      <div>
        <div className="flex column msg-info">
          <div className="flex gap-[1rem] justify-between">
            <h4>sgsggs</h4>
            <h4 className="msg-time">2 mins Ago</h4>
          </div>
          <div className="flex gap-[1rem] justify-between">
          <p className="msg-text msg-text-read">sdafs dsjhfakj hds ds ajshg </p>
          <img src="/assets/icons/Vector.svg" alt="" />
          </div>
        </div>
      </div>
    </div>