  <div className="p-[3rem]">
        <div className="flex flex-row gap-[20px]">
          <img
            className="rounded-full w-[45px] h-[45px]"
            src="/assets/images/photo.svg"
            alt=""
          />
          <div className="flex-1">
            <p className="font-[700]">sdfasd</p>
            <p className="text-[#9C9CA4]">sdfasd</p>
          </div>
          <p className="text-[#04A4F4] font-[500]">+Follow</p>
        </div>
        <div className="flex gap-[2rem]">
          <div className="flex gap-[5px]">
            <img src="/assets/icons/document.svg" alt="" />
            <p>dsgfsdg</p>
          </div>
          <div className="flex gap-[5px]">
            <img src="/assets/icons/active/Star-medium.svg" alt="" />
            <p>dsgfsdg</p>
          </div>
        </div>
      </div>


      <!-- folllowed -->
      <div className="p-[3rem]">
        <div className="flex flex-row gap-[20px]">
          <img
            className="rounded-full w-[45px] h-[45px]"
            src="/assets/images/photo.svg"
            alt=""
          />
          <div className="flex-1">
            <p className="font-[700]">sdfasd</p>
            <p className="text-[#9C9CA4]">sdfasd</p>
          </div>
          <p className="text-[#9C9CA4] font-[500]">Followed</p>
        </div>
        <div className="flex gap-[2rem]">
          <div className="flex gap-[5px]">
            <img src="/assets/icons/document.svg" alt="" />
            <p>dsgfsdg</p>
          </div>
          <div className="flex gap-[5px]">
            <img src="/assets/icons/active/Star-medium.svg" alt="" />
            <p>dsgfsdg</p>
          </div>
        </div>
      </div>

      <!-- unfollow-->
      <div className="p-[3rem]">
        <div className="flex flex-row gap-[20px]">
          <img
            className="rounded-full w-[45px] h-[45px]"
            src="/assets/images/photo.svg"
            alt=""
          />
          <div className="flex-1">
            <p className="font-[700]">sdfasd</p>
            <p className="text-[#9C9CA4]">sdfasd</p>
          </div>
          <p className="text-[#DB5962] font-[500]">Unfollow</p>
        </div>
        <div className="flex gap-[2rem]">
          <div className="flex gap-[5px]">
            <img src="/assets/icons/document.svg" alt="" />
            <p>dsgfsdg</p>
          </div>
          <div className="flex gap-[5px]">
            <img src="/assets/icons/active/Star-medium.svg" alt="" />
            <p>dsgfsdg</p>
          </div>
        </div>
      </div>